@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap');

$primary-color: #191A20;
$white-color: #E3E4DB;
$blue-color: #B6C2F6;
$grey-color: #837569;

// Fonts 
$CinzelFont: "Cinzel Decorative", serif;
$TenorFont: "Tenor Sans", serif;
$OverpassFont: "Overpass", serif;